<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>

<form name="regForm" method="post">{% csrf_token %}

    <label>Username : <input type="text" name="username"></label><br>
    <label>Password : <input type="password" name="password"></label><br>
<input type="submit" value="Login">
</form>

<h3> New User ?</h3>
<h3><a href = "/login/register">Register Here</a></h3>
{% for msg in messages %}

<h3>{{msg}}</h3>
{% endfor %}

</body>
</html>